<div class="content">
    <div>
        <div>
            <h3>Product Type Entry</h3>
        </div>
        <div>
            <form [formGroup]="productTypeForm" (ngSubmit)="save(productTypeForm.value)">

                <input type="hidden" formControlName="id">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field> -->
          
                    <div>
                        <label>Name</label>
                        <input type="text" formControlName="name">
                    </div>
              
                    <div>
                        <label>Descripion</label>
                        <input type="text" formControlName="description">
                    </div>
              
                    <button class=""  type="submit"> Create </button>
              
              </form>
        </div>
    </div>
</div>