/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}

div.container {
    margin: 0px 10px;
}

.nav-color a {
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}

.mat-menu-item {
    color: #ffffff;
}

.mat-menu-content {
    background-color: #1179e2;
    
}

// .ng-valid {
//     color: #42A948; /* green */
//   }
  
//   .ng-invalid  {
//     color: #a94442; /* red */
//   }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-bottom: -11px !important;
}

mat-error {
    margin-top: -8px !important;
    margin-bottom: 6px !important;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }