<div class="page-layout simple fullwidth ">

    <!-- CONTENT -->
    <div class="content">

        <!-- Form CARD -->

        <div class="" *ngIf="cardExpanded" [@expandCollapse]>
            <!-- CENTER -->
            <div class="center" fxLayoutAlign="center center">

                <div class="cards p-12 media-width" fxFlex="100">
                    <!-- Mediea Query for 100% Width-->

                    <div class="fuse-card pb-12" fxFlex="100">

                        <div class="px-8 pb-0 purple-500" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row"
                            fxLayoutAlign="space-between center" >
                            <div class="h1 font-weight-650" fxLayout="row" fxLayoutAlign="start center">Product Entry
                            </div>

                            <div class="pr-0" fxLayout="row" fxLayoutAlign="end center">
                                <button mat-icon-button (click)="cardExpanded = !cardExpanded">
                                    <mat-icon *ngIf="cardExpanded" title="Close">remove_circle_outline</mat-icon>
                                    <mat-icon *ngIf="!cardExpanded" title="Add">add_circle_outline</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="card-divider m-0 mt-0 mb-16"></div>

                        <!-- REACTIVE FORM EXAMPLE -->
                        <form fxLayout="column" class="px-8" [formGroup]="productForm" (ngSubmit)="save(productForm)">

                            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4 media-pr">
                                    <mat-label>Product Type</mat-label>
                                    <mat-select formControlName="productTypeId" (blur)="logValidationErrors()">
                                        <mat-option *ngFor="let productType of productTypeList"
                                            [value]="productType.id">
                                            {{ productType.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formErrors.productTypeId">{{formErrors.productTypeId}}</mat-error>
                                </mat-form-field>
                                <div fxFlex="100"  class="pl-4 media-pl">
                                  
                                </div>
                            </div>
                            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4 media-pr">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" (blur)="logValidationErrors()">
                                    <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pl-4 media-pl">
                                    <mat-label>Price</mat-label>
                                    <input matInput formControlName="price" type="number"
                                        (blur)="logValidationErrors()">
                                    <mat-error *ngIf="formErrors.price">{{formErrors.price}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput rows="3" formControlName="description"
                                        (blur)="logValidationErrors()"></textarea>
                                    <mat-error *ngIf="formErrors.description">{{formErrors.description}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="card-divider m-0 mb-16"></div>
                            <div class="" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="end center"
                                class="pr-4">

                                <button mat-stroked-button color="primary" type="submit" [disabled]="productForm.valid">
                                    Save</button>
                            </div>

                        </form>

                        <!-- / REACTIVE FORM EXAMPLE -->
                    </div>
                </div>


            </div>
            <!-- / CENTER -->
        </div>
        <!-- / Form CARD -->

        <!-- Table CARD -->
        <!-- CENTER -->
        <div class="center" outAlign="center center">

            <div class="cards p-12 media-width" fxFlex="100">

                <div class="fuse-card pb-12" fxFlex="100">

                    <div class="px-8 pb-0 purple-500" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row"
                        fxLayoutAlign="space-between center">
                        <div class="h1 font-weight-650" fxLayout="row" fxLayoutAlign="start center">Product List</div>

                        <div class="pr-0" fxLayout="row" fxLayoutAlign="end center">

                            <button mat-icon-button>
                                <mat-icon title="Download">arrow_drop_down_circle</mat-icon>
                               
                            </button>

                            <button mat-icon-button (click)="searchExpanded = !searchExpanded">
                                <mat-icon *ngIf="searchExpanded" title="Close">search</mat-icon>
                                <mat-icon *ngIf="!searchExpanded" title="Search">search</mat-icon>
                            </button>

                            <button mat-icon-button (click)="cardExpanded = !cardExpanded">
                                <mat-icon *ngIf="cardExpanded" title="Close">remove_circle_outline</mat-icon>
                                <mat-icon *ngIf="!cardExpanded" title="Add">add_circle_outline</mat-icon>
                            </button>

                        </div>
                    </div>

                    <div class="purple-400" *ngIf="searchExpanded" [@expandCollapse]>
                        <div class="p-8" fxLayout="row" fxLayout.sm="row" fxLayout.xs="row"
                            fxLayoutAlign="space-between center">

                            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon>search</mat-icon>
                                    <input placeholder="Search" fxFlex>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card-divider m-0 mt-0 mb-16"></div>
                    <div class="px-8">
                        <app-product-list></app-product-list>
                    </div>

                </div>
            </div>

        </div>

        <!-- / CENTER -->
        <!-- / Table CARD -->

    </div>
    <!-- CONTENT-->

</div>